﻿@model Parsec.Timing.Server.ReportGenerators.ParticipantListViewModel
@using System.Reflection;
@{
    ViewBag.Title = Model.Report.Name;
    Layout = null;
}
<html>
<body>
    <h1>@Html.WriteMultiline(Model.Tournament.TitleLocal)</h1>
    @using (var table = Bootstrap.BeginTable())
    {
        using (table.BeginHeader())
        {
            using (table.BeginRow())
            {
                foreach (var f in Model.Report.Fields)
                {
                    @table.TH(f.Title)
                }
            }
        }

        var propertyInfo = new Dictionary<FieldSource, PropertyInfo[]>
        {
            { FieldSource.Person, typeof(Person).GetTypeInfo().GetProperties() },
            { FieldSource.Participant, typeof(Participant).GetTypeInfo().GetProperties() },
            { FieldSource.ParticipantRanking, typeof(ParticipantRanking).GetTypeInfo().GetProperties() },
            { FieldSource.ParticipantAgeRanking, typeof(ParticipantAgeRanking).GetTypeInfo().GetProperties() },
        };

        foreach (var tournamentCompetition in Model.TournamentCompetitions)
        {
            using (table.BeginBody())
            {
                using (table.BeginRow())
                {
                    @table.TH(tournamentCompetition.Competition.Name).ColSpan(Model.Report.Fields.Count)
                }
            }
            foreach (var pr in Model.ParticipantRankings.Where(x => x.TournamentCompetitionId == tournamentCompetition.Id))
            {
                if (pr.StatusId.HasValue)
                {
                    pr.Status = Model.Statuses[pr.StatusId.Value];
                }

                using (var row = table.BeginRow())
                {
                    var p = Model.Participants[pr.ParticipantId];
                    var par = Model.ParticipantAgeRankings.Where(x => x.ParticipantId == pr.ParticipantId).FirstOrDefault();

                    var classes = new Dictionary<FieldSource, object>
                    {
                        { FieldSource.Person, p.Person },
                        { FieldSource.Participant, p },
                        { FieldSource.ParticipantRanking, pr },
                        { FieldSource.ParticipantAgeRanking, par },
                    };

                    foreach (var f in Model.Report.Fields)
                    {
                        var fld = Model.Fields[f.FieldId];

                        switch (fld.Source)
                        {
                            case FieldSource.Person:
                            case FieldSource.Participant:
                            case FieldSource.ParticipantRanking:
                            case FieldSource.ParticipantAgeRanking:
                                dynamic obj = classes[fld.Source];

                                if (fld.IsComputed)
                                {
                                    @table.TD(ComputedField(fld.Key, obj))
                                    break;
                                }

                                var pi = propertyInfo[fld.Source];

                                if (fld.Source == FieldSource.ParticipantAgeRanking)
                                {
                                    obj = obj.First();
                                }

                                @table.TD(pi.FirstOrDefault(x => x.Name == fld.Key)?.GetValue(obj) ?? string.Empty)

                                break;
                            case FieldSource.ParticipantField:
                                var metField = Model.MultiEventTournamentFields.FirstOrDefault(x => x.FieldId == f.FieldId);
                                if (metField == null || !Model.ParticipantFields.ContainsKey(p.Id))
                                {
                                    @table.TD(string.Empty)
                                }
                                else
                                {
                                    @table.TD(Model.ParticipantFields[p.Id].FirstOrDefault(x => x.MultiEventTournamentFieldId == metField.Id)?.Value)
                                }
                                break;
                            default:
                                throw new Exception("Unknown field source: " + fld.Source);
                        }
                    }
                }
            }
        }
    }
</body>
</html>

@functions
{
    public string ComputedField(string name, Person person)
    {
        switch (name)
        {
            case "BirthDate":
                return person.GetBirthDateText();
            case "LastFirstName":
                return person.LastName + " " + person.FirstName;
            case "UpperLastFirstName":
                return person.LastName.ToUpper() + " " + person.FirstName;
            case "FirstLastName":
                return person.FirstName + " " + person.LastName;
            case "FirstUpperLastName":
                return person.FirstName + " " + person.LastName.ToUpper();
            default:
                return name;
        }
    }

    public string ComputedField(string name, Participant participant)
    {
        switch (name)
        {
            default:
                return name;
        }
    }

    public string ComputedField(string name, ParticipantRanking participantRanking)
    {
        switch (name)
        {
            case "RankOrStatus":
                return string.IsNullOrEmpty(participantRanking.Rank)
                    ? participantRanking.Status.PublicName
                    : participantRanking.Rank;
            default:
                return name;
        }
    }

    public string ComputedField(string name, ParticipantAgeRanking participantAgeRanking)
    {
        switch (name)
        {
            case "AgeGroupName":
                return participantAgeRanking == null
                    ? null
                    : Model.AgeGroups[participantAgeRanking.AgeGroupId].Name;
            case "AgeGroupShortName":
                return participantAgeRanking == null
                    ? null
                    : Model.AgeGroups[participantAgeRanking.AgeGroupId].ShortName;
            default:
                return name;
        }
    }
}