﻿@model CompetitionPoolFinishInfo
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;
@inject ICurrentTournamentService currentTournamentService;
@{
    var pool = Model.CompetitionPool;

    antiforgery.SetCookieTokenAndHeader(Context);

    ViewBag.Title = sharedLocalizer["Finish"];
    ViewBag.Subtitle = pool.Name;
    if (currentTournamentService.IsLocked)
    {
        ViewBag.TitleBadge = Bootstrap.Badge(BadgeType.DangerRed, "Мероприятие заблокировано");
    }
    else if (pool.IsLocked)
    {
        ViewBag.TitleBadge = Bootstrap.Badge(BadgeType.DangerRed, "Забег заблокирован");
    }
}

@if (true || pool.ResultProcessingStatus != ProcessingStatus.Success)
{
    <form method="post" id="reprocess-results-form" action="@Url.Action(Home.ProcessResultsRoute(pool.Id))" style="display: inline;">
        @Bootstrap.Button(ButtonType.WarningOrange, "Обработать финиш").Outline().Size(ButtonSize.Small)
    </form>
}

@{
    foreach (var checkpoint in Model.Checkpoints)
    {
        var groups = Model.FinGroups.Where(x => x.CheckpointId == checkpoint.Id).OrderByDescending(x => x.Created).ToList();
        <h4>@checkpoint.Name <small>@Bootstrap.Button(ButtonType.SecondaryWhite, FA.Plus(), " ", commonTermsLocalizer["Add FinGroup"]).Outline().Size(ButtonSize.Small).CssClass("afgbtn").Attribute("data-checkpoint-id", checkpoint.Id.ToString()).Attribute("data-checkpoint-name", checkpoint.Name)</small>
        </h4>
        <div class="row">
            @foreach (var g in groups)
            {
                var name = string.IsNullOrEmpty(g.Name) ? "-no name-" : g.Name;
                <div class="col-md-3">
                    <div class="card card-outline-info border-top-0 border-right-0 border-bottom-0 rounded-0 mb-3">
                        <div class="card-block pt-1 pb-1">
                            <h5>@Bootstrap.Anchor(name).Href(FinGroups.DetailsRoute(g.Id)) @(string.IsNullOrEmpty(g.Comment) ? null : FA.InfoCircleMuted(g.Comment))</h5>
                            @if (g.IsDisabled)
                            {
                                <p class="small mb-0 text-danger">Отключен</p>
                            }
                            <p class="small mb-0 text-muted">
                                Marks count: <b>@g.MarksCount</b> <br />
                                Created: &nbsp; @Html.DisplayFor(m => g.Created) <br />
                                Last seen: @Html.DisplayFor(m => g.LastSeen) <br />
                                Shift: @g.ResultShift <br />
                                Client: @g.ClientNameVersion @@ @g.IpAddress <br />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

<div class="modal fade" id="newFinGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый файл финиша</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action(FinGroups.AppendRoute())">
                <input type="hidden" id="CompetitionPoolId" name="CompetitionPoolId" value="@pool.Id" />
                <input type="hidden" id="CheckpointId" name="CheckpointId" />
                <div class="modal-body">
                    <div class="form-group form-group-required">
                        <label for="checkpoint" class="form-control-label">@modelLocalizer[nameof(Checkpoint)]:</label>
                        <input type="text" class="form-control" id="CheckpointName" name="CheckpointName" value="Checkpoint Name" readonly>
                    </div>
                    <div class="form-group form-group-required">
                        <label for="name" class="form-control-label">Имя файла:</label>
                        <input type="text" class="form-control" id="FileName" name="FileName" required value="Новый файл">
                    </div>
                    <div class="form-group form-group-required">
                        <label for="new-fin-data" class="form-control-label">Данные (время, номер):</label>
                        <textarea class="form-control" id="data" name="data" placeholder="01:22:34  123" rows="7" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    $(function ()
    {
        $("button.afgbtn").click(showFinGroupModal);
        initAjaxForm($('#reprocess-results-form'), (_) => showBackgroundJobsInfo());
        initAjaxForm(
            $("#newFinGroupModal form"),
            (data) => { $("#newFinGroupModal").modal("hide"); window.location.reload(); });
    })

    function showFinGroupModal()
    {
        var btn = $(this);
        var checkpointId = btn.attr("data-checkpoint-id");
        var checkpointName = btn.attr("data-checkpoint-name");

        $("#CheckpointId").val(checkpointId);
        $("#CheckpointName").val(checkpointName);
        $("#newFinGroupModal").modal("show");
        return false;
    }
</script>
}
