﻿@model DateTimeOffset
@{
    var dt = Model.ToMoscowTime();
    var dts = dt.ToIsoString();
    var dtd = dt.ToFastFriendString();
    var title = Model.ToStringWithZone();
}
<time datetime="@dts"><abbr title="@title">@dtd <sup>@FA.InfoCircleMuted()</sup></abbr></time>