﻿@model ReportFieldsViewModel
@{
    ViewBag.Title = "Поля протокола";
    //ViewBag.ContainerFluid = true;

    var fields = (List<Field>)ViewBag.Fields;
    var additionalFields = (Guid[])ViewBag.AdditionalFields;

    var otherFields = fields
        .Where(x => !Model.Ids.Contains(x.Id))
        .Where(x => x.Source != FieldSource.ParticipantField || additionalFields.Contains(x.Id))
        .ToList();
}

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.GridCol(0, 10, 8, 8, 6).Offset(0, 1, 2, 2, 3).BeginContent())
    {
        @Bootstrap.H3("Используемые поля")
        @using (Bootstrap.BeginForm())
        {
            @Bootstrap.ValidationSummary()
            <ul class="list-group sortable">
                @for(var i = 0; i < Model.Ids.Length; i++)
                {
                    var fld = fields.First(x => x.Id == Model.Ids[i]);
                    <li class="list-group-item">
                        <label class="mb-0">
                            <input type="checkbox" name="fieldId" value="@Model.Ids[i]" checked />
                            @fld.Title / @fld.Name
                        </label>
                        <input type="text" size="20" name="title" value="@Model.Titles[i]" />
                    </li>
                }
                @for (var i = 0; i < otherFields.Count; i++)
                {
                    <li class="list-group-item">
                        <label class="mb-0">
                            <input type="checkbox" name="fieldId" value="@otherFields[i].Id" />
                            @otherFields[i].Title / @otherFields[i].Name
                        </label>
                        <input type="text" size="20" name="title" value="@otherFields[i].Title" />
                    </li>
                }
           </ul>
            @Html.AntiForgeryToken()
            @Bootstrap.Button(ButtonType.SuccessGreen, "Сохранить изменения").BlockSize().CssClass("mt-1")
        }
    }
}

@section Head {
    <style type="text/css">
        .list-group {
            min-height: 2ex;
            background-color: lightgray;
        }
        .list-group-item {
            cursor: move;
        }
        li.checked {
            background-color: lightyellow;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $(".sortable").sortable().disableSelection();
            $("input").change(function () {
                $(this).parent().parent().toggleClass('checked', $(this).is(":checked"));
                if ($(this).is(":checked"))
                {
                    $(this).parent().next().removeAttr('disabled');
                }
                else {
                    $(this).parent().next().attr('disabled', 'disabled');
                }
            }).change();
        });
    </script>
}