﻿@model ReadersService
@using System.Reflection;
@{
    ViewBag.Title = "Ридеры";
    ViewBag.Subtitle = "on " + string.Join(", ", Parsec.Timing.Readers.ReaderListener.GetLocalIPs());
}

<h2>MyLaps reader</h2>
<dl>
    <dt>Version:</dt>
    <dd>@Model.MylapsListener.GetType().Assembly.GetNameVersion()</dd>

    <dt>Endpoint:</dt>
    <dd>@Model.MylapsListener.Address:@Model.MylapsListener.Port</dd>

    <dt>Encoding:</dt>
    <dd>@Model.MylapsListener.Encoding.EncodingName (@Model.MylapsListener.Encoding.WebName)</dd>

    <dt>TrimNewLines:</dt>
    <dd>@Model.MylapsListener.TrimNewLines</dd>

    <dt>MessageDelimiter:</dt>
    <dd>@Model.MylapsListener.MessageDelimiter</dd>

    @if (Model.MylapsListener.IsStarted)
    {
        <dt>Status:</dt>
        <dd class="text-success">
            Running
            <form method="post">
                @Html.AntiForgeryToken()
                @Bootstrap.Button(ButtonType.DangerRed, "Остановить").Attribute("name", "command").Attribute("value", "stop")
                @Bootstrap.Button(ButtonType.SecondaryWhite, "Open StartLine").Href(Readers.StartLineRoute()).Attribute("target", "_blank")
            </form>
        </dd>

        <dt>Clients (@Model.MylapsListener.ConnectedEndpoints.Count):</dt>
        <dd>@string.Join(", ", Model.MylapsListener.ConnectedEndpoints.Select(x => x.ToString()))</dd>
    }
    else
    {
        <dt>Status:</dt>
        <dd class="text-warning">
            Not running
            <form method="post">
                @Html.AntiForgeryToken()
                @Bootstrap.Button(ButtonType.SuccessGreen, "Запустить").Attribute("name", "command").Attribute("value", "start")
            </form>
        </dd>
    }
</dl>
