﻿@{
    ViewBag.Title = "Стартовое построение";
    ViewBag.ContainerFluid = true;
}

@section Head {
    <style type="text/css">
        @@keyframes highlight {
          0% {
            background-color: yellow;
          }
          20% {
            background-color: lightgreen;
          }
          100% {
            background-color: none;
          }
        }

        #list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            align-content: flex-start;
        }
        .tag {
            flex-basis: 15ex;
            border: solid thin gray;
            margin: 1px;
            padding: 0 2px;
            height: 5ex;
            width: 15ex;
        }

        .seen {
            animation: highlight 30s ease-in-out;
        }
    </style>
}

<div id="list">

</div>

@section Scripts
    {
    <script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script>
        let connection = new signalR.HubConnection('/manage/readers/hub');

        let tags = {};

        let list = $('#list');

        connection.on('hello', data =>
        {
            console.log(data);
        });

        connection.on('registered', data =>
        {
            for (var key in data)
            {
                var tag = key.toUpperCase();
                var bib = data[key];
                var newTag = $('<div></div>').addClass('tag').append($('<b></b>').text(bib)).append(' ').append($('<small></small>').text(tag));
                tags[tag] = newTag;
                list.append(newTag);
            }
        });

        connection.on('TagVisit', (tag, bib, time) =>
        {
            var newTag = $('<div></div>').addClass('tag seen').append($('<b></b>').text(bib)).append(' ').append($('<small></small>').text(tag));
            if (tags[tag] == null)
            {
                tags[tag] = newTag;
                list.append(newTag);
            }
            else
            {
                tags[tag].replaceWith(newTag);
                tags[tag] = newTag;
            }
        });

        connection.start();
    </script>
}