﻿@inject ICurrentTournamentService currentTournamentService
@inject TimingDb db
@using Microsoft.EntityFrameworkCore
@{
    var metId = currentTournamentService.Id;

    var met = await db.MultiEventTournaments.AsNoTracking().SingleAsync(x => x.Id == metId);
    var tournaments = await db.Tournaments
        .Include(x => x.TournamentSeries)
        .AsNoTracking()
        .Where(x => x.MultiEventTournamentId == metId)
        .OrderByDescending(x => x.IsMain)
        .ThenBy(x => x.Name)
        .ToListAsync();
    var officials = await db.TournamentOfficials
        .AsNoTracking()
        .Where(x => x.Tournament.MultiEventTournamentId == metId)
        .OrderBy(x => x.SortOrder)
        .ToListAsync();
    var competitionPools = await db.CompetitionPools
        .AsNoTracking()
        .Where(x => x.MultiEventTournamentId == metId)
        .OrderBy(x => x.SortOrder)
        .ToListAsync();
    var competitions = await db.Competitions
        .AsNoTracking()
        .Where(x => x.MultiEventTournamentId == metId)
        .OrderBy(x => x.SortOrder)
        .ToListAsync();
    var tournamentCompetitions = await db.TournamentCompetitions
        .Include(x => x.AgeGroupSet)
        .AsNoTracking()
        .Where(x => x.Tournament.MultiEventTournamentId == metId)
        .OrderByDescending(x => x.Tournament.IsMain)
        .ThenBy(x => x.Tournament.Name)
        .ToListAsync();

    ViewBag.Title = sharedLocalizer["MultiEventTournament decomposition"];
    ViewBag.Subtitle = met.Name;

    if (met.IsLocked)
    {
        ViewBag.TitleBadge = Bootstrap.Badge(BadgeType.DangerRed, "Мероприятие заблокировано");
    }
}
<h2>@modelLocalizer["Tournaments"]</h2>
<p class="text-muted">Когда одни и те же участники (ну или почти все) с одними и теми же результатами должны появиться в нескольких разных протоколах, отличающихся только шапкой/судьями - это нужно создавать разные <b>@modelLocalizer["Tournaments"]</b>.</p>
<table class="table">
    @foreach (var t in tournaments)
    {
        <tr class="mt-3">
            <td colspan="2">
                <h4 class="d-inline-block">@t.Name @(t.IsMain ? FA.Home("Основное") : null)</h4>
            </td>
            <td colspan="1" class="small">
                @if (t.TournamentSeriesId.HasValue)
                {
                    <span>Серия: <mark>@t.TournamentSeries?.Name</mark></span>
                }
            </td>
            <td colspan="1" class="text-right">
                @if (!met.IsLocked)
                {
                    @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                    @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Delete"]).Outline().Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                }
            </td>
        </tr>
        <tr class="mt-0">
            <td class="pt-0 border-0">&nbsp; &nbsp; &nbsp;</td>
            <td class="small pt-0 border-0">@Html.WriteMultiline(t.TitleLocal)</td>
            <td class="small pt-0 border-0 text-muted">@Html.WriteMultiline(t.TitleInternational)</td>
            <td class="small pt-0 border-0">
                Официальные лица: <br />
                @foreach (var off in officials.Where(x => x.TournamentId == t.Id))
                {
                    <span>@off.SortOrder. @off.JobTitle: <mark>@off.Name</mark> <small>(@off.Grade)</small></span><br />
                }
            </td>
        </tr>
    }
</table>
@if (!met.IsLocked)
{
    @Bootstrap.Button(ButtonType.PrimaryBlue, "Добавить ", modelLocalizer[nameof(Tournament)]).Outline().Size(ButtonSize.Small).Href("#")
}

<p>&nbsp;</p>

<h2>@modelLocalizer["CompetitionPools"]</h2>
<p class="text-muted">Кто, что, когда и с кем бежит - задается здесь.</p>
<table class="table table-hover">
    @foreach (var cp in competitionPools)
    {
        <tr class="mt-3">
            <td class="small">
                @modelLocalizer[nameof(CompetitionPool)] №<mark>@cp.SortOrder</mark>
            </td>
            <td>
                <h3>@cp.Name</h3>
            </td>
            <td>&nbsp;</td>
            <td class="small">
                @if (cp.IsLocked)
                {
                    <span class="text-danger">@FA.Lock() @commonTermsLocalizer["Locked"]</span>
                }
                else
                {
                    <span>@FA.Unlock() @commonTermsLocalizer["Not locked"]</span>
                }
            </td>
            <td class="text-right">
                @if (!met.IsLocked)
                {
                    @Bootstrap.Button(ButtonType.DangerRed, cp.IsLocked ? commonTermsLocalizer["Unlock"] : commonTermsLocalizer["Lock"]).Outline().Size(ButtonSize.Small).Href(cp.IsLocked ? CompetitionPools.UnlockRoute(cp.Id) : CompetitionPools.LockRoute(cp.Id))
                    @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                    @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Delete"]).Outline().Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                }
            </td>
        </tr>
        @foreach (var c in competitions.Where(x => x.CompetitionPoolId == cp.Id))
        {
            <tr class="mt-2 mb-2">
                <td class="">&nbsp;</td>
                <td class="small">
                    @modelLocalizer[nameof(Competition)] №<mark>@c.SortOrder</mark>
                </td>
                <td class="">
                    <h4>@c.Name <small class="text-muted">@c.NameInternational</small></h4>
                </td>
                <td class="small">
                    Код: <mark>@c.Key</mark> <br />
                    @commonTermsLocalizer["Men"] @(c.AllowMen ? FA.CheckSuccessFixed() : FA.TimesDangerFixed()) &nbsp; @commonTermsLocalizer["Women"] @(c.AllowWomen ? FA.CheckSuccessFixed() : FA.TimesDangerFixed())
                </td>
                <td class="text-right">
                    @if (!met.IsLocked)
                    {
                        @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                        @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Delete"]).Outline().Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                    }
                </td>
            </tr>
            @foreach (var tc in tournamentCompetitions.Where(x => x.CompetitionId == c.Id))
            {
                var tournament = tournaments.First(x => x.Id == tc.TournamentId);
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="pt-0 pb-0">@tournament.Name</td>
                    <td class="small pt-0 pb-0">
                        <b>@(tc.AutoParticipation ? "Автоучастие" : null)</b>; @(tc.AbsolutePositions ? "Места в абсолюте" : null); @(tc.AgeGroupSetId.HasValue ? "Места по группам" : null) <br/>
                        Возр. группы: <mark>@tc.AgeGroupSet?.Name</mark> на <mark>@tc.AgeGroupReferenceDate.ToString("d")</mark> <mark>(@(tc.AgeGroupByFullBirthDate ? "по дате" : "по году"))</mark>
                    </td>
                    <td class="text-right pt-2 pb-0">
                        @if (!met.IsLocked)
                        {
                            @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                            @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Delete"]).Outline().Size(ButtonSize.Small).Href("#").WithWhitespaceSuffix()
                        }
                    </td>
                </tr>
            }
        }
    }
</table>
@if (!met.IsLocked)
{
    @Bootstrap.Button(ButtonType.PrimaryBlue, "Добавить ", modelLocalizer[nameof(CompetitionPool)]).Outline().Size(ButtonSize.Small).Href("#")
    @Bootstrap.Button(ButtonType.PrimaryBlue, "Добавить ", modelLocalizer[nameof(Competition)]).Outline().Size(ButtonSize.Small).Href("#")
}

<p>&nbsp;</p>