﻿@model Guid[]
@{
    ViewBag.Title = modelLocalizer[nameof(MultiEventTournamentFields)];
    //ViewBag.ContainerFluid = true;

    var fields = (List<Field>)ViewBag.Fields;
}

@Bootstrap.Alert(AlertType.InfoCyan, "Перетаскивайте поля (мышкой) из правого списка в левый и обратно, а также вверх-вниз (чтобы задать порядок следования). В конце не забудьте нажать кнопку \"Сохранить изменения\".")

@Bootstrap.Alert(AlertType.WarningOrange, "Если у вас уже есть участники, то добавления поля недостаточно - надо еще всем уже зарегистрированным участникам в это поле что-то записать, иначе оно останется пустым.")

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.GridCol(6, 6, 5, 5, 4).Offset(0, 0, 1, 1, 2).BeginContent())
    {
        @Bootstrap.H3(sharedLocalizer["Used fields"])
        @using (Bootstrap.Form().Attribute("id", nameof(MultiEventTournamentFields)).BeginContent())
        {
            @Bootstrap.ValidationSummary()
            <ul class="list-group draggable">
                @foreach (var id in Model)
                {
                    var field = fields.FirstOrDefault(x => x.Id == id);
                    if (field != null)
                    {
                        <li class="list-group-item">
                            <input type="hidden" name="id" value="@field.Id" />
                            @field.Title
                        </li>
                    }
                }
            </ul>
            @Html.AntiForgeryToken()
            }
        }

        using (Bootstrap.BeginGridCol(6, 6, 5, 5, 4))
        {
        @Bootstrap.H3(sharedLocalizer["Unused fields"])
        <ul class="list-group draggable">
            @foreach (var field in fields)
            {
                if (Model.Contains(field.Id))
                {
                    continue;

                }
                <li class="list-group-item">
                    <input type="hidden" name="id" value="@field.Id" />
                    @field.Title
                </li>
            }
        </ul>
    }

    using (Bootstrap.GridCol(12, 12, 12, 12, 12).CssClass("mt-2 text-center").BeginContent())
    {
        @Bootstrap.Button(ButtonType.SuccessGreen, commonTermsLocalizer["Save changes"]).Size(ButtonSize.Large).Attribute("form", nameof(MultiEventTournamentFields))
        @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Cancel"]).Href(areas.Default.Home.IndexRoute())
    }
}

@section Head {
    <style type="text/css">
        .list-group {
            min-height: 2ex;
            background-color: lightgray;
        }
        .list-group-item {
            cursor: move;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $(".draggable").sortable({ connectWith: ".draggable" }).disableSelection();
        });
    </script>
}