﻿@using System.Reflection;
@inject Parsec.Timing.Server.Services.ICurrentTournamentService currentTournamentService;
@{
    var mainAssembly = typeof(Startup).GetTypeInfo().Assembly;
    var ver = "v" + mainAssembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var appTitle = mainAssembly.GetCustomAttribute<AssemblyTitleAttribute>().Title;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title - @appTitle</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tether.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        html {
            font-size: 15px;
        }
        caption {
            caption-side: top;
        }
        .required:after {
            content: ' *';
            color: red;
        }
        label {
            text-align: right;
        }
        .unsmall { font-size: 125%; }
    </style>

    @RenderSection("Head", false)
</head>
<body>
    <nav class="navbar navbar-inverse bg-info navbar-toggleable-md">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">@(currentTournamentService.IsSet ? currentTournamentService.Title : appTitle)</a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
            @*<div class="collapse navbar-toggleable-md" id="navbarResponsive">*@
                @await Html.PartialAsync("_TopMenu")
            @*</div>*@
        </div>
    </nav>

    <div class="@((ViewBag.ContainerFluid ?? false) ? "container-fluid" : "container")">
        @RenderSection("PreTitle", false)
        <h1 class="mt-2 mb-3">
            @ViewBag.Title
            @if (ViewBag.Subtitle != null)
            {
                if (ViewBag.SubtitleLink == null)
                {
                    <small class="text-muted">@ViewBag.Subtitle</small>
                }
                else
                {
                    <small class="text-muted"><a href="@ViewBag.SubtitleLink">@ViewBag.Subtitle</a></small>
                }
            }
            <small><sup class="small">@ViewBag.TitleBadge</sup></small>
        </h1>
        @RenderBody()
        <footer class="small text-muted text-center mt-5 mb-3">@appTitle @ver &nbsp; | &nbsp; Проект: на <a href="https://bitbucket.org/just_dmitry/parsec.timing">BitBucket</a> &nbsp; | &nbsp; Обратная связь: через <a href="https://t.me/just_dmitry">Telegram</a> &nbsp; | &nbsp; Copyright: &copy; <a href="https://stackoverflow.com/users/460298/dmitry">Дмитрий Попов</a>, 2017</footer>
    </div><!-- container -->

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    @*<script src="/js/jquery.datetimepicker-2.5.4.full.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({
                    lang: 'ru',
                    timepicker: false,
                    dayOfWeekStart: 1,
                    format: 'd.m.Y'
                });
                $('.datetimepicker').datetimepicker({
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1
                });

                $('[data-toggle="tooltip"]').tooltip()

            });
        </script>*@
    <script src="/js/site.js?v=20170517-1915"></script>
    @RenderSection("Scripts", false)
</body>
</html>