﻿@using areas = Parsec.Timing.Server.Areas;
@if (true) //User.Identity.IsAuthenticated)
{
    using (var list = Bootstrap.List(ListType.Unordered).CssClass("nav navbar-nav").BeginContent())
    {
        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Соревнования").CssClass("nav-link").Href(areas.Default.Home.ResetActiveRoute()))
        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Протоколы").CssClass("nav-link").Href(areas.Manage.Reports.IndexRoute()))

        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Поля").CssClass("nav-link").Href(areas.Admin.Fields.IndexRoute()))
        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Возр группы").CssClass("nav-link").Href(areas.Admin.AgeGroups.IndexRoute()))

        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Фоновые задачи").CssClass("nav-link").Attribute("id", "background-jobs").Attribute("tabindex", "0"))

        @list.Item().CssClass("nav-item").Content(Bootstrap.Anchor("Ридеры").CssClass("nav-link").Href(areas.Manage.Readers.IndexRoute()))
    }

    using (var list = Bootstrap.List(ListType.Unordered).CssClass("nav navbar-nav navbar-right").BeginContent())
    {
        @*if (((System.Security.Claims.ClaimsIdentity)User.Identity).HasClaim("IsManager", "true"))
            {
                @list.Item().Content(Bootstrap.Anchor("Отчет по звонкам").Href(Issues.IssueReportRoute()))
            }*@
        if (((System.Security.Claims.ClaimsIdentity)User.Identity).HasClaim("IsAdmin", "true"))
        {
            using (list.BeginItem())
            {
                @*using (var dd = Bootstrap.Anchor("Админ").BeginDropdown())
                    {
                        dd.Link("Клиенты").Href(Clients.IndexRoute())
                        @dd.Link("Проекты").Href(Campaigns.IndexRoute())
                        @dd.Link("Базы абонентов").Href(ContactSets.IndexRoute())
                        @dd.Link("Тиражи материалов").Href(Emissions.IndexRoute())
                        @dd.Link("Групповые работы").Href(Processes.IndexRoute())
                        @dd.Link("Поля абонента").Href(ContactFields.IndexRoute())
                        @dd.Link("Сценарии").Href(Scripts.IndexRoute())
                        @dd.Link("Связанные сценарии").Href(IssueLinkReasons.IndexRoute())
                        @dd.Link("Потоки (очереди, волны) задач").Href(Waves.IndexRoute())
                        @dd.Divider()
                        @dd.Link("Резолюции сценариев").Href(Resolutions.IndexRoute())
                        @dd.Link("Пользователи").Href(Users.IndexRoute())
                        @dd.Link("Доступ пользователей").Href(UserIssueAssignmentRules.IndexRoute())
                        @dd.Divider()
                        @dd.Link("Фоновые задания").Href(AdminTasks.RunningTasksRoute())
                        @dd.Link("Лог").Href(Home.LogsRoute())
                        @dd.Link("О системе").Href(Home.AboutRoute())
                    }*@
            }
        }
        @*using (list.BeginItem())
            {
                using (var dd = Bootstrap.Anchor(User.Identity.Name).BeginDropdown())
                {
                    dd.Link("Мои последние действия").Href(StatisticController.UserActivityRoute())
                    @dd.Link("Выход").Href("javascript: document.getElementById('logoutForm').submit()")
                }
            }*@
    }

    @* Форма не обязана быть внутри меню, её все равно дернут по id *@
    @*@using (Bootstrap.Form().Id("logoutForm").CssClass("navbar-right").Href(Account.LogoutRoute()).BeginContent())
        {
            @Html.AntiForgeryToken()
        }*@
}
@*else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Bootstrap.Anchor("Login").Href(Account.LoginRoute())</li>
        </ul>
    }*@
