﻿@model List<FinMark>
@{
    var group = (FinGroup)ViewBag.FinGroup;
    var checkpoint = (Checkpoint)ViewBag.Checkpoint;
    var competitionPool = (CompetitionPool)ViewBag.CompetitionPool;

    ViewBag.Title = group.Name;
    ViewBag.Subtitle = checkpoint.Name + " (" + competitionPool.Name + ")";
    ViewBag.SubtitleLink = Url.Action(Home.IndexRoute(competitionPool.Id));

    if (group.IsDisabled)
    {
        ViewBag.TitleBadge = Bootstrap.Badge(BadgeType.DangerRed, commonTermsLocalizer["Disabled"]);
    }

    var token = Html.AntiForgeryToken();
}

<p class="text-muted">
    Id: @group.Id <br />
    Created: &nbsp; @Html.DisplayFor(m => group.Created) <br />
    Last seen: @Html.DisplayFor(m => group.LastSeen) <br />
    Checkpoint: @group.Checkpoint?.Name<br />
    Marks count: <b>@group.MarksCount</b> <br />
    Client: @group.ClientNameVersion @@ @group.IpAddress <br />
    Shift: @group.ResultShift<br />
    Comment: @group.Comment <br />
</p>

<p>
    @if (group.IsDisabled)
    {
        @Bootstrap.Button(ButtonType.WarningOrange, commonTermsLocalizer["Enable"]).Size(ButtonSize.Small).Outline().Attribute("id", "enable-button")
        @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Delete"]).Size(ButtonSize.Small).Outline().Attribute("id", "delete-button")
    }
    else
    {
        @Bootstrap.Button(ButtonType.WarningOrange, commonTermsLocalizer["Shift"]).Size(ButtonSize.Small).Outline().Attribute("id", "shift-button")
        @Bootstrap.Button(ButtonType.DangerRed, commonTermsLocalizer["Disable"]).Size(ButtonSize.Small).Outline().Attribute("id", "disable-button")
    }
</p>

<ol id="multicol">
    @foreach (var m in Model)
    {
        if (m.Status == FinMarkStatus.Default)
        {
            <li>@m.EffectiveResult @m.Bib</li>
        }
        else
        {
            <li class="text-warning" title="@m.Status">@m.EffectiveResult @m.Bib <sup>@FA.InfoCircleMuted()</sup></li>
        }
    }
</ol>

<a id="end" href="#"></a>


<div class="modal fade" id="disable-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отключить файл данных?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action(FinGroups.DisableRoute(group.Id))">
                <div class="modal-body">
                    <p>Отключить использование данного файла?</p>
                    <p>Данные останутся в системе, но весь файл целиком будет "отключен" и не будет использоваться. При необходимости его можно будет "включить" обратно.</p>
                </div>
                <div class="modal-footer">
                    @token
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Отключить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="enable-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Включить файл данных?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action(FinGroups.EnableRoute(group.Id))">
                <div class="modal-body">
                    <p>Включить использование данного файла?</p>
                    <p>Данные из этого файла вновь будут учитываться при обработке результатов.</p>
                </div>
                <div class="modal-footer">
                    @token
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Включить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить файл данных?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action(FinGroups.DeleteRoute(group.Id))">
                <div class="modal-body">
                    <p>Удалить данный файл безвозвратно?</p>
                    <p class="text-danger">Будет удалён файл включая все данные в нём. Вернуть эти данные будет невозможно.</p>
                </div>
                <div class="modal-footer">
                    @token
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="shift-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сдвинуть все данные?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action(FinGroups.ShiftRoute(group.Id))">
                <div class="modal-body">
                    <div>
                        <div class="form-check form-check-inline form-group-required">
                            <label class="form-check-label"><input type="radio" class="form-check-input" name="shiftType" value="T"> Время</label>
                            <label class="form-check-label"><input type="radio" class="form-check-input" name="shiftType" value="L"> Дистанцию</label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check form-check-inline form-group-required">
                            <label class="form-check-label"><input type="radio" class="form-check-input" name="direction" value="A"> Добавить</label>
                            <label class="form-check-label"><input type="radio" class="form-check-input" name="direction" value="S"> Вычесть</label>
                        </div>
                    </div>
                    <label for="name" class="form-control-label">Значение:</label>
                    <input type="text" class="form-control" name="value" required>
                </div>
                <div class="modal-footer">
                    @token
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сдвинуть</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Head {
    <style type="text/css">
        #multicol li {
            font-family: Courier New, Courier, monospace;
            font-size: 0.8rem;
            width: 30ex;
            line-height: 1.2;
        }

        #multicol {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 70vh;
            overflow-x: auto;
            padding: 1ex;
            background-color: lightyellow;
        }
    </style>
}

@section Scripts
    {
    <script type="text/javascript">
        $(function ()
        {
            $("button#enable-button").click(() => $("#enable-dialog").modal("show"));
            $("button#disable-button").click(() => $("#disable-dialog").modal("show"));
            $("button#delete-button").click(() => $("#delete-dialog").modal("show"));
            $("button#shift-button").click(() => $("#shift-dialog").modal("show"));
        })
    </script>
}
