﻿@using BootstrapMvc
@using Parsec.Timing.Model;
@using Parsec.Timing.Server;
@using areas = Parsec.Timing.Server.Areas;
@using Parsec.Timing.Server.Dto;
@using Parsec.Timing.Server.Services;

@inject BootstrapMvc.Mvc6.BootstrapHelper<TModel> Bootstrap
@inject Parsec.Timing.Server.Services.ICurrentTournamentService ICurrentTournamentService;
@inject Microsoft.Extensions.Localization.IStringLocalizer<ModelResources> modelLocalizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> sharedLocalizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<CommonTermsResources> commonTermsLocalizer;