﻿@using System.Reflection;
@{
    Layout = null;

    var ass = typeof(Startup).GetTypeInfo().Assembly;

    var ver = "v" + ass.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var title = ass.GetCustomAttribute<AssemblyTitleAttribute>().Title;
}
<html>
<head>
    <title>@commonTermsLocalizer["About"] - @title @ver</title>
    <style type="text/css">
        p {
            font-size: 0.9rem;
            color: grey;
        }
        .text-muted {
            color: gray;
        }
    </style>
</head>
<body>
<h1>@title @ver <small class="text-muted">@commonTermsLocalizer["About"]</small></h1>
<p>HEARTBEAT VALUE: HLY8KOYIKWO5H</p>
</body>
</html>