﻿@model Tuple<MultiEventTournamentInfo, CompetitionPool>
@{
    var cp = Model.Item2;

    var style = cp.IsLocked
        ? string.Empty
        : cp.ResultProcessingStatus != ProcessingStatus.None
            ? "card-outline-success"
            : cp.ParticipationProcessingStatus != ProcessingStatus.None
                ? "card-outline-info"
                : "card-outline-primary";
}

<div class="card @style border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="card-block pt-1 pb-1">
        <h5 class="d-inline">
            <small class="text-muted">@cp.SortOrder.</small>
            @cp.Name
        </h5>
        @if (cp.IsLocked && !Model.Item1.MultiEventTournament.IsLocked)
        {
            @Bootstrap.Badge(BadgeType.DefaultGray, modelLocalizer["CompetitionPool"] + " заблокирован").WithWhitespaceSuffix()
        }

        @switch (cp.ParticipationProcessingStatus)
        {
            case ProcessingStatus.None:
                break;
            case ProcessingStatus.WithWarnings:
                @Bootstrap.Badge(BadgeType.WarningOrange, "Старт с предупреждениями").WithWhitespaceSuffix()
                break;
            case ProcessingStatus.Success:
                @Bootstrap.Badge(BadgeType.SuccessGreen, "Старт ОК").WithWhitespaceSuffix()
                break;
        }

        @switch (cp.ResultProcessingStatus)
        {
            case ProcessingStatus.None:
                break;
            case ProcessingStatus.WithWarnings:
                @Bootstrap.Badge(BadgeType.WarningOrange, "Финиш с предупреждениями").WithWhitespaceSuffix()
                break;
            case ProcessingStatus.Success:
                @Bootstrap.Badge(BadgeType.SuccessGreen, "Финиш ОК").WithWhitespaceSuffix()
                break;
        }
    </div>
    <div class="card-block pt-0 pb-2">
        <div class="row">
            <div class="col-6">
                <ol class="text-muted small mb-0">
                    @foreach (var c in Model.Item1.Competitions.Where(x => x.CompetitionPoolId == cp.Id))
                    {
                        var trnmnts = Model.Item1.TournamentCompetitions.Where(x => x.CompetitionId == c.Id).Select(x => x.Tournament);
                        <li value="@c.SortOrder">
                            <span class="unsmall text-gray-dark">
                                @c.Name
                                @foreach (var t in trnmnts)
                                {
                                    @Bootstrap.Badge(t.IsMain ? BadgeType.InfoCyan : BadgeType.DefaultGray, t.Name).Pill().WithWhitespaceSuffix()
                                }
                            </span>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
    @if (!Model.Item1.MultiEventTournament.IsLocked)
    {
        <div class="card-block pt-0 pb-2 ml-4 pl-4">
            @if (!cp.IsLocked && Model.Item1.Competitions.Count > 0)
            {
                <a href="@Url.Action(areas.Start.Participants.ListRoute(cp.Id))" class="btn btn-sm btn-outline-primary">@modelLocalizer[nameof(areas.Start.Participants)]</a>
                @Bootstrap.Button(ButtonType.InfoCyan, modelLocalizer[nameof(areas.Start.ParticipantOverrides)]).Outline().Size(ButtonSize.Small).Href(areas.Start.ParticipantOverrides.IndexRoute(cp.Id))
                if (true || cp.ParticipationProcessingStatus != ProcessingStatus.Success)
                {
                    <form method="post" id="reprocess-start-form" action="@Url.Action(areas.Start.Home.ReprocessStartRoute(cp.Id))" style="display: inline;">
                        @Bootstrap.Button(ButtonType.WarningOrange, "Обработать старт").Outline().Size(ButtonSize.Small)
                    </form>
                }

                if (cp.ParticipationProcessingStatus != ProcessingStatus.None)
                {
                    @Bootstrap.Button(ButtonType.PrimaryBlue, "Работа с финишем").Outline().Size(ButtonSize.Small).Href(areas.Finish.Home.IndexRoute(cp.Id))
                }
            }
            @Bootstrap.Button(ButtonType.DangerRed, cp.IsLocked ? commonTermsLocalizer["Unlock"] : commonTermsLocalizer["Lock"]).Outline().Size(ButtonSize.Small).Href(cp.IsLocked ? areas.Manage.CompetitionPools.UnlockRoute(cp.Id) : areas.Manage.CompetitionPools.LockRoute(cp.Id))
        </div>
    }
</div>