﻿@model MultiEventTournamentInfo
@{
    var met = Model.MultiEventTournament;

    ViewBag.Title = met.Name;
    ViewBag.Subtitle = met.StartDate.ToFriendPeriod(met.EndDate);
    if (met.IsLocked)
    {
        ViewBag.TitleBadge = Bootstrap.Badge(BadgeType.DangerRed, "Мероприятие заблокировано");
    }
}

@section PreTitle
{
<div class="pull-right">
    <small class="text-muted" title="ID текущего мероприятия (мало ло, потребуется)">Id: @met.Id</small>
</div>
}

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.GridCol(0, 0, 0, 8, 8).CssClass("mb-3").BeginContent())
    {
        @Bootstrap.H4("Участники и результаты")
        foreach (var cp in Model.CompetitionPools)
        {
            Html.RenderPartial("Index_CompetitionPool", Tuple.Create(Model, cp));
        }
    }

    using (Bootstrap.BeginGridCol(0, 0, 0, 4, 4))
    {
        @Bootstrap.H5(sharedLocalizer["Unused FinGroups"])
        using (Bootstrap.Tag("ul").BeginContent())
        {
            foreach (var item in Model.UnusedFinGroups)
            {
                <li>@item.Name</li>
            }
        }

        @Bootstrap.H5(modelLocalizer[nameof(areas.Manage.Reports)])
        @foreach (var report in Model.Reports)
        {
            if (report.TournamentId.HasValue)
            {
                @Bootstrap.Button(ButtonType.SecondaryWhite, report.Name).Href(areas.Reports.ReportGenerator.IndexRoute(report.Id, report.TournamentId.Value))
            }
            else
            {
                foreach (var t in Model.TournamentCompetitions)
                {
                    @Bootstrap.Button(ButtonType.SecondaryWhite, report.Name + " (" + t.Tournament.Name + ")").Href(areas.Reports.ReportGenerator.IndexRoute(report.Id, t.Tournament.Id))
                }
            }
        }
    }

    using (Bootstrap.BeginGridCol(0, 0, 0, 6, 6))
    {
        @Bootstrap.H4("Параметры и настройки мероприятия").CssClass("mb-0")
        @Bootstrap.P("Осторожно! Придется переформировывать протоколы!").CssClass("text-muted small mb-1")
        <div class="card card-outline-danger border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="card-block pt-1 pb-2">
                @Bootstrap.H5().Content(modelLocalizer[nameof(areas.Manage.CompetitionPools)], ", ", modelLocalizer["Competitions"], ", ", modelLocalizer["Tournaments"])
                @Bootstrap.P("Иными словами - \"формула\" мероприятия.").CssClass("mb-1 text-muted")
                @Bootstrap.Button(ButtonType.SecondaryWhite, met.IsLocked ? commonTermsLocalizer["View"] : commonTermsLocalizer["Edit"]).Href(areas.Manage.MultiEventTournaments.StructureRoute()).Size(ButtonSize.Small)
            </div>
            <div class="card-block pb-2">
                @Bootstrap.H5().Content(modelLocalizer[nameof(areas.Manage.Checkpoints)]).Content(Bootstrap.Tag("small").Content(" Настройки для результатов (финишных данных)"))
                @Bootstrap.P(string.Join(", ", Model.Checkpoints.Select(x => x.Name))).CssClass("mb-1 text-muted")
                @Bootstrap.Button(ButtonType.SecondaryWhite, met.IsLocked ? commonTermsLocalizer["View"] : commonTermsLocalizer["Edit"]).Href(areas.Manage.Checkpoints.IndexRoute()).Size(ButtonSize.Small)
            </div>
            <div class="card-block pb-2">
                @Bootstrap.H5(modelLocalizer[nameof(areas.Admin.AgeGroups)])
                @Bootstrap.P(string.Join(", ", Model.AgeGroupSetNames)).CssClass("mb-1 text-muted")
                @if (!met.IsLocked)
                {
                    @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Href(areas.Manage.AgeGroupSets.IndexRoute()).Size(ButtonSize.Small)
                }
            </div>
            <div class="card-block pb-2">
                @Bootstrap.H5(modelLocalizer[nameof(areas.Manage.MultiEventTournamentFields)])
                @Bootstrap.P(string.Join(", ", Model.FieldTitles)).CssClass("mb-1 text-muted")
                @if (!met.IsLocked)
                {
                    @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Href(areas.Manage.MultiEventTournamentFields.IndexRoute()).Size(ButtonSize.Small)
                }
            </div>
            <div class="card-block pb-2">
                @Bootstrap.H5(modelLocalizer[nameof(areas.Manage.CategoryFlags)])
                @Bootstrap.P(string.Join(", ", Model.Categories.Select(x => x.Id + ": " + x.Name))).CssClass("mb-1 text-muted")
                @if (!met.IsLocked)
                {
                    @Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Edit"]).Href(areas.Manage.CategoryFlags.IndexRoute()).Size(ButtonSize.Small)
                }
            </div>
        </div>
    }
}

@section Scripts
{
    <script type="text/javascript">
        $(function ()
        {
            initAjaxForm($('#reprocess-start-form'), (_) => showBackgroundJobsInfo());
        });
    </script>
}