﻿@inject ICurrentTournamentService currentTournamentService
@{
    ViewBag.Title = currentTournamentService.Title;
}

<div class="alert alert-danger">
    <h4>Операция недоступна</h4>
    <p>@modelLocalizer[nameof(MultiEventTournament)] @currentTournamentService.Title заблокировано и недоступно для изменений.</p>
</div>
