﻿@model List<string>
@using System.Reflection;
@{
    Layout = null;

    var ass = typeof(Startup).GetTypeInfo().Assembly;

    var ver = "v" + ass.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var title = ass.GetCustomAttribute<AssemblyTitleAttribute>().Title;

    List<string> log = ViewBag.Logs;
}
<html>
<head>
    <title>@commonTermsLocalizer["Logs"] - @title @ver</title>
    <style type="text/css">
        pre.logs {
            font-size: 0.7rem;
            white-space: pre-line;
        }
        .text-muted {
            color: gray;
        }
        .error, .fatal {
            color: red;
        }
        .warning {
            color: darkorange;
        }
        .debug, .trace {
            color: gray;
        }
    </style>
</head>
<body>
    <h1>@commonTermsLocalizer["Logs"] <small class="text-muted">@title @ver</small></h1>
    <pre class="logs">
    @foreach (var item in Model)
    {
        var level = item.Split(new[] { '-' }, 2)[1].Split(new[] { ':' }, 2)[0].Trim();
        <span class="@level">@item</span><br/>
    }
    </pre>
</body>
</html>