﻿@model List<MultiEventTournament>
@{
    ViewBag.Title = sharedLocalizer["MultiEventTournament selection"];

    var next = Model.Where(x => x.StartDate >= DateTime.Now).OrderBy(x => x.StartDate).ToList();
    var prev = Model.Where(x => x.StartDate < DateTime.Now).OrderByDescending(x => x.StartDate).ToList();
}

@Bootstrap.P(Bootstrap.Button(ButtonType.SecondaryWhite, commonTermsLocalizer["Add"]).Href("#").Disabled())

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(6, 6, 6, 6, 6))
    {
        using (Bootstrap.BeginGridRow())
        {
            foreach (var item in prev)
            {
                using (Bootstrap.BeginGridCol(0, 0, 6, 6, 6))
                {
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">@Bootstrap.Anchor(item.Name).Href(Home.SetActiveConfirmRoute(item.Id))</h5>
                            <h6 class="card-subtitle text-success">@item.StartDate.ToFriendPeriod(item.EndDate)</h6>
                        </div>
                    </div>
                }
            }
        }
    }
    using (Bootstrap.BeginGridCol(6, 6, 6, 6, 6))
    {
        using (Bootstrap.BeginGridRow())
        {
            foreach (var item in next)
            {
                using (Bootstrap.BeginGridCol(0, 0, 6, 6, 6))
                {
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">@Bootstrap.Anchor(item.Name).Href(Home.SetActiveConfirmRoute(item.Id))</h5>
                            <h6 class="card-subtitle text-danger">@item.StartDate.ToFriendPeriod(item.EndDate)</h6>
                        </div>
                    </div>
                }
            }
        }
    }
}
